@use 'variables' as variable;

@mixin media-breakpoint-up($point) {
  @if map-has-key(variable.$grid-breakpoints, $point) {
    $point: map-get(variable.$grid-breakpoints, $point);
  }
  @media (min-width: #{$point}) {
    @content;
  }
}