$grid-columns:      12;
$grid-gutter-width: 1.6rem;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

$primary: red;

$breakpoints: (
    'small':  767px,
    'medium': 992px,
    'large':  1200px
) !default;